<!-- <editor
  apiKey="78ogbrerhv3hvf6bc0u84dmga3knsic695luzowj89c2ew8e"
  [init]="{
    icons: 'material',
    skin: 'borderless',
    plugins: 'wordcount',
    menubar: false,
    min_height: 150
  }"
></editor> -->

<form [formGroup]="form">
  <editor
    formControlName="content"
    [apiKey]="apiKey"
    [init]="{
      icons: 'material',
      skin: 'borderless',
      plugins: 'wordcount, image',
      menubar: true,
      min_height: 150,
      font_formats: 'Roboto'
    }"
  ></editor>
</form>

<div class="div-content">
  <div [innerHtml]="getInnerValue()"></div>
</div>

<div>
  {{ form.controls["content"].value }}
</div>
